@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

#about {
  /* background: linear-gradient(135deg, #356ca2, #e4e7eb); */
    padding: 4rem 0 4rem 0;
    font-family: 'Poppins', sans-serif;

  }
  
  #about h2 {
    font-size: 2.5rem;
  }
  
  #about img {
       /* border-radius: 50%; */
    object-fit: cover;
    margin-bottom: 1.5rem;
  }
  
  #about p {
    padding: 20px 0 20px 0;
    font-size: 1.1rem;
  }

  .title{
    font-family: 'Comfortaa', sans-serif;

  }

  /* --------------- */

  #skills {
    /* background-color: #f4f4f9; */
    padding: 4rem 0;
    font-family: 'Poppins', sans-serif;

  }
  
  #skills h2 {
    color: #003366;
  }
  .skills-h3{
    padding: 0 0 0 0;
  }
  
  .progress {
    height: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .progress-bar {
    background-color: #0066cc; /* Skill bar color */
  }
  
  .progress-bar-striped {
    background-color: #ff9933; /* Different color for skill bar hover */
  }
  .my-4{
    width:300px;

  }