@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');


  header {
  background: linear-gradient(135deg, #f1f3f5, #e4e7eb);
  color: white;
  padding: 200px 50px 0 50px;
  /* font-family: 'Poppins', sans-serif; */
 font-family: 'Poppins', sans-serif;


  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  header .typed {
    font-size: 1.5rem;
  }