
.navbar {

  background-color: #003366; /* Dark blue for the navbar background */
  font-family: 'Poppins', sans-serif;

}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  float: right;

  color: #fff;
  font-size: 1.1rem;
}


.nav-link:hover {
  color: #ff9933; /* Hover effect */
}

.navbar-nav .nav-link {
  padding: 0.7rem 0 0.7rem 0 ;
}


