
.navbar {

  background-color: #003366; /* Dark blue for the navbar background */
  font-family: 'Poppins', sans-serif;

}

/* .navbar-brand {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
} */

/* .nav-link {
  float: right;

  color:linear-gradient(135deg, #356ca2, #e4e7eb);
  font-size: 1.1rem;
} */


.nav-link:hover {
  color: #3399ff; /* Hover effect */
}

/* .navbar-nav .nav-link {
  padding: 0.7rem 0 0.7rem 0 ;
} */


