@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

#skills {
    /* background-color: #f4f4f9; */
    padding: 4rem 0;
    font-family: 'Poppins', sans-serif;

  }
  
  #skills h2 {
    color: #003366;
  }
  
  .progress {
    height: 20px;
    border-radius: 20px;
    margin-bottom: 1.5rem;
  }
  
  .progress-bar {
    background-color: #0066cc; /* Skill bar color */
  }
  
  .progress-bar-striped {
    background-color: #ff9933; /* Different color for skill bar hover */
  }